<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css'%}">
    <link href="{% static 'css/bootstrap.min.css'%}" type="text/css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Caos News</title>
</head>
<body>
     <!-- navbar -->
     <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#opciones">
        <span class="navbar-toggler-icon"></span>
        </button>      
        <!-- insertar logo -->            
        <a class="navbar-brand " href="#">
            {% load static %} 
            <img src="{% static 'img/logo.jpg'%}" width="60" height="60" alt="">
        </a>
        <div class="collapse navbar-collapse " id="opciones">   
            <ul class="navbar-nav">                
            <li class="nav-item ">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'form_ver' %}">Admnistrador</a>
            </li> 
            </ul>  
        </div> 
        </nav>          
        <!-- fin navbar --> 
        <div class="galeria">
            <h1>"EL DIARIO DE LA NACIÓN"</h1>
          <div class="linea"></div>
  
          <!--Inicio Carrusel-->        
          <div class="container">    
              <div id="carousel1" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel1" data-slide-to="1"></li>
                  <li data-target="#carousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="imagen" src="{% static 'img/img1.jpg'%}" alt="">
                    <div class="carousel-caption">
                        <p>El anuario escolar del "COMUNAZI" Daniel Jadue.</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <img class="imagen" src="{% static 'img/img2.png'%}" alt="">
                      <div class="carousel-caption">
                        <p>Escuelas Abiertas: el movimiento que ya reúne 12.000 firmas para el retorno presencial a clases</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <img class="imagen" src="{% static 'img/img3.jpg'%}" alt="">
                      <div class="carousel-caption">
                        <p>CoronaVac frente a delta: vocero de Sinovac afirma que “efecto neutralizante” de vacuna se reduciría tres veces ante variante</p>
                      </div>
                  </div>
                </div>
                <!-- botones de desplazamiento a izquierda y derecha -->      
                <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel1" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          </div>
          </div>
          <!--Fin Carrusel-->
  
          <br>        
          <br>
          <div class="linea"></div>
          <!--Comienzo Tarjetas con imagenes-->
          <div class="container">   
              <h3>Nuestros servicios</h3>
              <br>
              <div class="row">       
                <div class="col-md">        
                    <div class="card">
                      <img class="card-img-top" src="{% static 'img/img5.jpg'%}">             
                      <div class="card-body">
                        <h4 class="card-title">Colombia empieza a borrar el pasado</h4>
                        <br>
                        <p class="card-text parrafo">Iván Duque retira las estatuas de Cristóbal Colón e Isabel la Católica por "oprimir a un grupo de la población"</p>
                        <a href="#" class="btn btn-primary" id="btnprueba" target="_blank">Ver lista de precios</a>
                      </div>
                    </div>          
                </div>
          
                <div class="col-md">        
                  <div class="card">
                    <img class="card-img-top" src="{% static 'img/img6.jpg'%}" >            
                    <div class="card-body">
                      <h4 class="card-title">Presidente anuncia veto presidencial</h4>                    
                      <p class="card-text parrafo">S.E Sebastían Piñera anuncia vetar el proyecto de ley "Garantías de la Niñez" que quita la Patria potestad a los padres. </p>
                      <a href="#" class="btn btn-primary" id="btnprueba" target="_blank">Ver lista de precios</a>
                    </div>
                  </div>          
              </div>
  
              <div class="col-md">        
                  <div class="card">
                    <img class="card-img-top" src="{% static 'img/img7.jpg'%}" >            
                    <div class="card-body">
                      <h4 class="card-title">Padre Osvaldo Lira</h4>
                      <br>
                      <p class="card-text parrafo">¡Borraría de un plumazo el Concilio Vaticano II! Eran las palabras del sacerdote, que nos advertía del peligro de éste.</p>
                      <a href="#" class="btn btn-primary" id="btnprueba" target="_blank">Ver lista de precios</a>
                    </div>
                  </div>          
              </div>
  
              <div class="col-md">        
                  <div class="card">
                    <img class="card-img-top" src="{% static 'img/guzman.jpg'%}" >            
                    <div class="card-body">
                      <h4 class="card-title">Guzmán traiciona al padre Lira y se vuelve liberal</h4>
                      <br>
                      <p class="card-text parrafo">Jaime Guzmán elige el camino fácil y abraza con todas sus fuerzas al dinero, olvidándose por completo de sus principios católicos.</p>
                      <a href="#" class="btn btn-primary" id="btnprueba">Ver catálogo</a>
                    </div>
                  </div>          
              </div>
            </div>
          </div>
              <br>
              <!--Fin Tarjetas con imagenes-->
              <br>
            <div class="linea"></div>  
           <!-- footer -->    
           <footer class= "container-fluid footer" >
            <p>©Copyright 2021 Danko Zamarin | Derechos reservados  Síguenos: 
              <i class="fa fa-whatsapp"></i>
              <i class="fa fa-facebook"></i>
              <i class="fa fa-envelope"></i> 
              <i class="fa fa-instagram"></i> 
              <i class="fa fa-twitter"></i> 
            </p>
  
          </footer>
  
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>         

    
</body>
</html>